# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
.env/
.venv/

.env
flask/.env

# Environment variables
# .env

# macOS system files
.DS_Store

# VSCode / IDE settings
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / build
*.egg-info/
dist/
build/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/
